.progress-bar {
  position: fixed;
  top: 0;
  height: 10px;
  left: 0;
  right: 0;
}

.progress-bar .filled-progress {
  background-color: #ff8f9e;
  height: 100%;
  transition: width 1s;
}

.win-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}

.history p {
  font-size: 200px;
  color: #f5891b;
  padding: 5px;
  margin: 0;
}

.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 500px;
  margin: 0;
  font-weight: 500;
  color: #f5891b;
  margin-top: -180px;
}

h1.incorrect-answer {
  animation: shake 0.5s;
}

h1.win-title {
  color: #ff8f9e;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ef223a;
  padding: 20px;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  width: 100%;
  max-width: 500px;
}

button {
  border: 3px solid #ff8f9e;
  border-radius: 20px;
  font-family: "Disclaimer Plane";
  flex: 1;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef223a;
}

button.correct-answer:active {
  background-color: #18b76299;
}

button.incorrect-answer:active {
  background-color: rgba(0, 0, 0, 0.5);
}

button p {
  font-size: 100px;
  padding: 5px 5px 30px 5px;
  margin: 5px;
  line-height: 80px;
  text-align: center;
  vertical-align: center;
  color: #ff8f9e;
}
